{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row border py-2 my-2 mb-5 bg-light">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center py-4">
                <h5>Спасиба за ваще обрашение</h5>
                <img style="width: 100px;height: 100px;" src="https://www.freeiconspng.com/thumbs/success-icon/success-icon-10.png" alt="">
                <h5>Нащи менеджеры свяжутся с вами в ближайщее время .</h5>
            </div>
        </div>
    </div>

{% endblock %}